.warning{
 
    width: 100%;
    transition: all 1s ease;
    opacity: 1;
    padding: 1rem;

}

.warning h2{
    text-align: center;
    font-weight: 800;
    color:rgb(75, 73, 71);
    transition: all 1s ease;
}
.warning strong{
    font-size: 2rem;
    color:red
}
.warning:hover{
    transform:   translateX(10rem);
    opacity: 0;

  
}