.warning{
 
    width: 100%;
    transition: all 0.4s ease;

}

.warning h2{
    text-align: center;
    font-weight: 800;
    color:rgb(75, 73, 71);
    transition: all 1s ease;
    opacity: 1;
}
.warning strong{
    font-size: 2rem;
    color:red
}
.warning h2:hover{
    transform:  translateX(90rem) rotateZ(10deg);
    opacity: 0;
  
}